
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
 

/* CELULARES OK*/ 
        
@media (min-width: 340px) and (max-width: 1280px) {
   
    @font-face {
        font-family: "Inter";
        src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Overpass:wght@100&family=Poppins:ital,wght@1,800&display=swap");
    }

   
    
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        
        
       
        
    }

    .principal {
        margin: 20px;
        font-size: 15px;
        
        
    }

       

    .principal nav ul li a{
        text-decoration: none;   
    }
    
    

    

    .sumir-elemento{
        display: none;
    }

    
   

    .exibir-elemento{
        display: block;
        position: absolute;       
        padding: 20px;
        width: 70%;
        height: 620px;
        top: 0;
        right: 0;
        background-color:  hsl(36, 100%, 99%);
        
              
    }

    .caixa-icone-close{
       margin-bottom: 80px;
       margin-left: 85%;  
    }

     

    .itens-menu a{
        font-size: 25px;
        color: hsl(240, 100%, 5%); 
        font-family: "Inter", sans-serif; 
        font-weight: 400;
        line-height: 50px;     
        
    }

    


    .remover-caixa{
        display: none;
    }

          
    nav ul {
        display: flex;    
        justify-content: start;
        align-items: center;
        padding: 0;
        gap: 25px;             
    }


    nav a{
        color: hsl(233, 8%, 79%);
        font-family: 'Inter', sans-serif;
        font-weight: 400;
    }  
    
    nav a:hover{
       color:hsl(5, 85%, 63%);        
    } 

    .caixa-img{
        margin-right: auto;
        
    }

   

    .caixa-icone{
        position: relative;
        margin-left: auto;
        
    }

    .conteudo-central{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .conteudo-central img{
        display: block;
        max-width: 100%;
        height: auto;
        
        }

   
    nav li {
        list-style: none; 
        ;      
        
    }   
    
    nav a{
        text-decoration: none
    }
    
    main{        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .conteudo-central{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .conteudo-central h1{
        font-family: "Inter", sans-serif; 
        font-weight: 800;
    }     

    .caixa-2{
        margin-top: 20px;       
        
    }

    .paragrafo1{
        width: 100%;
        height: auto;
        font-family: "Inter", sans-serif; 
        color: hsl(236, 13%, 42%);
        font-weight: 400;
        font-size: 16px;
        
        
        
        
        
        
    }

    .paragrafo1 a {
        display: inline-block;
        color: hsl(36, 100%, 99%);
        background-color: hsl(5, 85%, 63%);
        text-decoration: none;
        padding: 12px;
        width: 170px;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 4px;
        margin-bottom: 20px;
        margin-top: 20px;
        
    }

    .paragrafo1 a:hover {
       background-color: hsl(240, 100%, 5%);
    }

    .conteudo-lateral{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        width: 100%;
        background-color:  hsl(240, 100%, 5%);
        
        
    }

    .conteudo-lateral h1{
        color: hsl(35, 77%, 62%);
        margin-bottom: 20px;
    }

    .conteudo-lateral h5{
        color: hsl(36, 100%, 99%);
        
    }

    .conteudo-lateral h5:hover{
        color: hsl(35, 77%, 62%);
        cursor: pointer;
        
    }

    .caixa-lateral section{
        margin-bottom: 10px;
        border-bottom: 1px solid  hsl(233, 8%, 79%);
        color: hsl(233, 8%, 79%);
        height: 100px;
        
        
        
    }

   .artigos{    
    display: flex;
    flex-direction: column;    
    margin-top: 20px;
    margin-bottom: 20px; 
    
    
   }

   .alinha-artigos{
    display: flex;
    align-items: center;
    
    
   }

   .artigos h4{
    color: hsl(233, 8%, 79%);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    
    
    
    
    } 

    .artigos h6{
        color:  hsl(240, 100%, 5%);
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        
        
        
    }

    .artigos h6:hover{
        color:  hsl(5, 85%, 63%);
        cursor: pointer;
    }

    
    .artigos p{
        font-family: "Inter", sans-serif; 
        color: hsl(236, 13%, 42%);
        font-weight: 400;
        font-size: 13px;
        
        
        
    }  



  .col-7{    
    
    height: auto;
    width: 100%;
    
  }

  .col-5{
    width: 100%;
    height: auto;
    
    

    
  }

  .row{
    margin-bottom: 20px;
      
  }

   

   .artigos img{
    display: block;
    max-width: 100%;
    height: auto;
    
   }

   .caixa-artigos{
    width: 100%;
    height: auto;
   }
}

   



  /* DESKTOP */ 

@media (min-width: 1281px) {
    @font-face {
        font-family: "Inter";
        src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Overpass:wght@100&family=Poppins:ital,wght@1,800&display=swap");
    }

   
    
    .container{
        display: grid;
        place-items: center;
        
        
       
    }

    .principal {
        margin: 20px;
        font-size: 15px;      

    }

    .principal nav ul li a{
        text-decoration: none;
     
    }

    .caixa-icone{
        display: none;
    }

    .caixa-icone-close{
        display: none;
    }

    .navegacao-desktop{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
          
    nav ul {
        display: flex;    
        justify-content: start;
        align-items: center;
        padding: 0;
        gap: 25px;    
              
    }


    nav a{
        color: hsl(236, 13%, 42%);
        font-family: 'Inter', sans-serif;
        font-weight: 400;
    }  
    
    nav a:hover{
       color:hsl(5, 85%, 63%);        
    } 

    .caixa-img{
        margin-right: auto;
        
    }

    .conteudo-central img{
        display: block;
        max-width: 100%;
        height: auto;
        }

   
    nav li {
        list-style: none; 
        ;      
        
    }   
    
    nav a{
        text-decoration: none
    }
    
    main{        
        display: grid;
        grid-template-areas: 
        'centro centro lateral'
        'a a a'
        ;
    }

    .conteudo-central{
        grid-area: centro;
        margin-right: 20px;
        
    }

    .conteudo-central h1{
        font-family: "Inter", sans-serif;
        font-weight: 800
    }

    .caixa-2{
        display: flex;
        flex-direction: row;

        margin-top: 20px;        
        
    }

    .titulo1{
        margin-right: 75px;
        width: 100%;
    }

    .caixa-paragrafo1{
        
        width: 100%;
        
    }

    .paragrafo1{
        
        margin-right: -100px;
        
    }
    .paragrafo1 p{
        width: 70%;
        height: auto;
        font-family: "Inter", sans-serif; 
        color: hsl(236, 13%, 42%);
        font-weight: 400;
        
        
        
    }

    .paragrafo1 a {
        display: inline-block;
        color: hsl(36, 100%, 99%);
        background-color: hsl(5, 85%, 63%);
        text-decoration: none;
        padding: 12px;
        width: 170px;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 4px;
        
    }

    .paragrafo1 a:hover {
       background-color: hsl(240, 100%, 5%);
    }

    


    
    .conteudo-lateral{
        grid-area: lateral;
        padding: 20px;
        width: 300px;
        background-color:  hsl(240, 100%, 5%);
        
        
    }

    .conteudo-lateral h1{
        color: hsl(35, 77%, 62%);
        margin-bottom: 20px;
        
    }

    .conteudo-lateral h5{
        color: hsl(36, 100%, 99%);
        
    }

    .conteudo-lateral h5:hover{
        color: hsl(35, 77%, 62%);
        cursor: pointer;
        
    }

    .caixa-lateral section{
        margin-bottom: 10px;
        border-bottom: 1px solid  hsl(233, 8%, 79%);
        color: hsl(233, 8%, 79%);
        height: 100px;
        
        
        
    }

   .artigos{
    grid-area: a;
    display: flex;
    flex-direction: row;
    justify-content: center;      
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 80px;
    width: 100%;
    
    
    
    
    
   }

  
   .artigos img{
    width: 100%;
    height: 110px; 
    
        
   }

   .conteudo-artigo{
    margin-left: -10px;
   }

 

   

   .artigos h4{
    color: hsl(233, 8%, 79%);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    } 

    .artigos h6{
        color:  hsl(240, 100%, 5%);
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }

    .artigos h6:hover{
        color:  hsl(5, 85%, 63%);
        cursor: pointer;
    }

    .artigos p{
        font-family: "Inter", sans-serif; 
        color: hsl(236, 13%, 42%);
        font-weight: 400;
        font-size: 15px;
    }  

}